---
title: Testing the Enterprise layers
subtitle: The A, B, C’s of integration testing
location: JavaOne 2013
author: [aslakknutsen, ALRubinger]
layout: onslyde
---
- page.enhance_client = '<img src="http://upload.wikimedia.org/wikipedia/commons/5/52/Spacer.gif" style="display:none" onload=\'var head=document.getElementsByTagName("head")[0];var script=document.createElement("script");script.setAttribute("src", "http://172.16.3.218:4242/javascripts/onslyde/onslyde-remote.js");head.appendChild(script)\' />'

:css
  embed {
    z-index:-10;
    opacity:0.3;
  }

  section .info img {
    height: 500px;
    width: auto;
  }

.backgrounds
  %embed{:src=>"#{site.base_url}/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

.slides

  %section.slide-group
    %section.slide
      %h1 Greetings, Earthlings!

  %section.slide-group
    %section.slide
      %h2=page.title
      %h3=page.subtitle
      - for author in page.author
        %h4
          %a(href="http://twitter.com/#{author}")
            ='@' + author

  %section.slide-group
    %section.slide
      %h2.send Do you test?

  %section.slide-group
    %section.slide
      %h2.send What type of test?

      %ul
        %li Unit?
        %li Integration?
        %li Functional?

  %section.slide-group

    %section.slide
      %h2.send The basics

    =partial('abc/lifecycle.html.haml', {:option => 'Basics'})
    
  %section.slide-group
    %section.slide
      %h3 Split layers
      %h4 Domain / REST / UI
    %section.slide
      %h3 Test doubles
      %h4 Repository&lt;T&gt;
    %section.slide
      %h3 Reusable test api
    %section.slide
      %h3 Integration and functonal in one?
    %section.slide
      %h3 Modular tests suite
    
  %section.slide-group
    %section.info
      %h2
        .brand
          %span.project @ContinuousDev
      %h5 http://continuousdev.org
      %img{:src=>"#{site.base_url}/images/continuousdev/continuous_enterprise_development_in_java.jpg"}

      .none
        .send
          %a(href="http://shop.oreilly.com/product/0636920025368.do")
            ContinuousDev @ O'Reilly Media