html body {
  background-color: white;
  counter-reset: slideidx;
}
html body section {
  padding-left: 10px;
  padding-right: 10px;
}
html body section.core li {
  display: block;
  text-align: right;
  color: #41245a;
  font-weight: bold;
  line-height: 30px;
}

.code {
  width: 100%;
  height: 100%;
  display: table;
}

.code_inner {
  vertical-align: middle;
  display: table-cell;
}

.demo_url {
  font-size: 1.7em;
  text-decoration: underline;
  text-align: center;
}

.title .authors {
  margin-top: 7%;
}
.title img {
  position: absolute;
  left: 35%;
  top: 7%;
  z-index: -1;
  height: 500px;
  width: 381px;
}
.title .links {
  margin-left: 7%;
  font-size: 0.6em;
}

.info img {
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: -1;
  height: 262px;
  width: 200px;
}

.step > img {
  padding-top: 5%;
}

ul li {
  display: inline;
  list-style: none;
  xmargin-top: 30px;
  xmargin-left: 30px;
  xtext-align: right;
}

.right {
  text-align: right;
}

.brand {
  color: #41245a;
}

.company_brand {
  color: red;
  font-size: 0.7em;
  padding-bottom: 5px;
}

.personal_brand {
  font-size: 0.6em;
}

.project {
  color: #f7490f;
  font-weight: bold;
}

.principle h1 {
  margin-top: 30%;
  font-size: 500px;
  float: right;
}
.principle h2 {
  margin-top: 30%;
  font-size: 70px;
  text-align: left;
}
.principle h3 {
  margin: 5% 0px 0px 0px;
  font-size: 50px;
  text-align: right;
}

body, .view section {
  xbackground-color: white;
  xborder-radius: 12px;
}

/* A section is a slide. It's size is 800x600, and this will never change */
section, .view head > title {
  /* The font from Google */
  font-family: 'Oswald', arial, serif;
  font-size: 30px;
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute;
  bottom: -80px;
  right: 100px;
  color: white;
}

.view head > title {
  color: white;
  text-align: center;
  margin: 1em 0 1em 0;
}

pre {
  margin-top: 20px;
}
pre code {
  line-height: 10px;
  font-size: 90%;
}

.overlay {
  margin-top: -453px;
}
.overlay pre {
  border-bottom: 0px;
}
.overlay code {
  xborder: 0px;
}

embed {
  position: absolute;
  left: 35%;
  top: -13%;
  z-index: -1;
  height: 701px;
  width: 701px;
  opacity: 0.3;
}

h1, h2 {
  margin-top: 200px;
  text-align: left;
  font-size: 80px;
}

h3 {
  margin: 50px 0 50px 50px;
}

h4 {
  text-align: right;
  margin-top: 50px;
}
h4 span {
  line-height: 50px;
}

ul {
  margin: 50px 200px;
}

p {
  margin: 75px;
  font-size: 50px;
}

blockquote {
  padding: 20px;
  text-align: center;
  border: 0px;
}
blockquote.quote {
  margin-top: 100px;
  margin-left: 80px;
  padding-left: 50px;
  font-size: 30px;
  line-height: 50px;
  color: #41245a;
  border-left: 5px solid #eee;
}
blockquote.quote:before {
  content: open-quote;
  font-weight: bold;
}
blockquote.quote .author {
  color: #f7490f;
  text-align: right;
}
blockquote:before {
  content: none;
}
blockquote:after {
  content: none;
}

/* Figures are displayed full-page, with the caption
   on top of the image/video */
figure {
  background-color: black;
}

figcaption {
  margin: 70px;
  font-size: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  text-align: right;
  background-color: #F3F4F8;
  border-top: 1px solid #CCC;
}

/* Transition effect */
/* Feel free to change the transition effect for original
   animations. See here:
   https://developer.mozilla.org/en/CSS/CSS_transitions
   How to use CSS3 Transitions: */
section {
  -moz-transition: left 400ms linear 0s;
  -webkit-transition: left 400ms linear 0s;
  -ms-transition: left 400ms linear 0s;
  transition: left 400ms linear 0s;
}

.view section {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.view section[aria-selected] {
  border: 5px red solid;
}

/* Before */
section {
  left: -150%;
}

/* Now */
section[aria-selected] {
  left: 0;
}

/* After */
section[aria-selected] ~ section {
  left: 150%;
}

/* Incremental elements */
/* By default, visible */
.incremental > * {
  opacity: 1;
}

/* The current item */
.incremental > *[aria-selected] {
  opacity: 1;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
  opacity: 0;
}

/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  height: 2px;
  background: #AAA;
}
