---
title: Arquillian Universe
subtitle: A tour around the astrophysics lab
location: JavaOne 2012
layout: dzslides
---
- page.html_class = "aspect-4-6"
- page.stylesheets = ['/stylesheets/astrophysics.css']

%section
	%embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}
	%h1
		.brand 
			The 
			%span.project Arquillian 
			Universe
	%blockquote a tour around the astrophysics lab
	
	%h3
		Aslak Knutsen
		.company_brand
			Red Hat

%section
	%h2 Testing...
	%h4
		%span.incremental
			%span too hard
			%span > too slow
			%span > no time
			%span > no fun

%section
	%blockquote.quote 
		The purpose of automated testing is to enable change. Verifying correctness is just a nice side effect.
		.author - Jeremy Norris

%section
	%h2 
		The Testing 
		%span.project Gap

	%h4
		%span.incremental 
			%span unit 
			%span > integration 
			%span > functional

%section
	%h1 
		%span.project Core 
		Principles

%section.principle
	%h1 1
	%h2 Tests should be
	%h3.project portable to any supported container
%section.principle
	%h1 2
	%h2 Tests should be
	%h3.project executable from both IDE and build tool
%section.principle
	%h1 3
	%h2 The platform should
	%h3.project extend/integrate existing test frameworks

%section
	%h1
		.brand 
			Arquillian 
			%span.project Core
	%blockquote so <em>you</em> can rule your code. not the bugs!

%section.core
	%ul
		%li 
			%h3 Extendable
		%li 
			%h3 Flexible

%section.core
	%h3 Core Extensions
	%ul
		%li Container
		%li Test
		%li Container Test

%section.core
	%h3 Test Extension
	%ul
		%li JUnit
		%li TestNG
		%li Spock
		%li JBehave

%section.core
	%h3 Container Extension
	%ul
		%li JBoss AS
		%li GlassFish
		%li Jetty
		%li Tomcat
		%li WebSphere
		%li WebLogic
		%li Spring, Weld

%section.core
	%h3 Container Types
	%ul
		%li Embedded
		%li Remote
		%li Managed

%section
	%h1 Setup

	.incremental
		%h3 Maven, Gradle, Ant(+Ivy)

%section
	=partial("astrophysics/arq_core_depmgm.md")

	.incremental
		=partial("astrophysics/arq_junit_dep.md")

		=partial("astrophysics/arq_testng_dep.md")

%section
	%h1 
		The 
		%span.project basic 
		Test Class

%section
	=partial("astrophysics/basic_junit_test_class.md")

	.overlay.incremental
		=partial("astrophysics/arq_basic_junit_test_class.md")

%section
	%h1
		.brand 
			ShrinkWrap
	%blockquote for all your packaging needs

%section
	=partial("astrophysics/shrinkwrap.md")

%section
	%h1
		.brand 
			ShrinkWrap
			%span.project Resolver
	%blockquote reuse the dependency management system

%section
	=partial("astrophysics/shrinkwrap_resolver.md")

%section
	%h1
		.brand 
			ShrinkWrap
			%span.project Descriptors
	%blockquote code the configuration
	
%section
	=partial("astrophysics/shrinkwrap_descriptors.md")

%section
	=partial("astrophysics/arq_basic_junit_test_class_full.md")

%section
	=partial("astrophysics/setup_profiles.md")

%section
	%h2
		.brand
			How it
			%span.project Works

%section.step
	%img{:src=> '/images/lifecycle-steps/1_select_a_container.png'}

%section.step
	%img{:src=> '/images/lifecycle-steps/2_start_container.png'}

%section.step
	%img{:src=> '/images/lifecycle-steps/3_package_test_archive.png'}

%section.step
	%img{:src=> '/images/lifecycle-steps/4_run_test_in_container.png'}

%section.step
	%img{:src=> '/images/lifecycle-steps/5_test_result.png'}

%section.step
	%img{:src=> '/images/lifecycle-steps/6_disconnect_container.png'}

%section.persistence
	%h1
		.brand 
			Arquillian
			%span.project Persistence
	%blockquote don't let the bugs hide in the boilerplate

%section
	%h1
		.brand 
			Arquillian
			%span.project Drone
	%blockquote functional mayham

%section
	%h1
		.brand 
			Arquillian
			%span.project Warp
	%blockquote the power of two

%section.step
	%img{:src=> '/images/warp_runmode.png'}

%section
	%h1
		.brand 
			Arquillian
			%span.project Graphene
	%blockquote HTML == API?


%section
	%h1 That's it?
	%h3.incremental 
		%span far from it!

%section
	%h3
		.brand
			Arquillian
			%span.project JRebel
		%br
		.brand
			Arquillian
			%span.project RushEye
		%br
		.brand 
			Arquillian
			%span.project Spring
		%br
		.brand 
			Arquillian
			%span.project Performance
		%br
		.brand
			Arquillian
			%span.project Android

%section
	%h1 ... and ...

%section
	%h3
		.brand 
			Arquillian
			%span.project Byteman
		%br
		.brand
			Arquillian
			%span.project JSFUnit2
		%br
		.brand
			Arquillian
			%span.project Seam2
		%br
		.brand
			Arquillian
			%span.project Portal
		%br
		.brand 
			Arquillian
			%span.project Jacoco

%section
	%h1 ... and ...

%section
	%h3
		.brand
			Arquillian
			%span.project Maven
		%br
		%div 
			%span.project Forge Plugin
			%span.brand Arquillian

%section
	%embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}
	%h3 http://arquillian.org/
	%h3 https://github.com/arquillian/
	%h3 +arquillian
