---
title: Case Studies in Testable Java EE Development
subtitle: Testable Solutions for Modern Applications
location: JavaOne 2013
author: [aslakknutsen, ALRubinger]
layout: dzslides
---
- page.html_class = "aspect-16-10"
- page.stylesheets = ['/stylesheets/casestudies.css']


%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}
  %h1
    .brand 
      %span.project
        Case Studies
      %br
      in Testable Java EE Development

    %h5 
      %small @ALRubinger 
      Andrew Lee Rubinger
    %h5 
      %small @aslakknutsen
      Aslak Knutsen

%section.info
  %img{:src=>"/images/continuousdev/continuous_enterprise_development_in_java.jpg"}
  %h2
    .brand
      %span.project @ContinuousDev
  %h5 http://continuousdev.org

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      %span.project
        Continuous?

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      %span.project
        Enterprise?

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      %span.project
        Java?

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      Async

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      Security
        
%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      Transaction

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      UI Verification

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}

  %h1
    .brand 
      REST

  %h5 (not the sleepy kind)

%section.info
  %img{:src=>"/images/continuousdev/continuous_enterprise_development_in_java.jpg"}
  %h2
    .brand
      %span.project @ContinuousDev
  %h5 http://continuousdev.org
  %br
  %h5 Book signing
  %h5 Wednesday 2pm @ O'Reilly

