---
title: Arquillian Universe
layout: dzslides
---
- page.html_class = "aspect-16-9"
- page.stylesheets = ['/stylesheets/devoxx_uk_bdd.css']
- page.javascripts = ['/javascripts/jquery-timer.js']

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}
  %h1
    .brand 
      Getting
      %span.project Real
      with BDD
  %blockquote
    A tour around the
    %span.brand
      %strong Arquillian Universe

  .authors
    %h3
      Aslak Knutsen
      %small(style='font-size: .6em') @aslakknutsen
    %span.project Red Hat

%section
  %h1 
    Core 
    %span.project Principles

%section.principle
  %h1 1
  %h2 Tests should be
  %h3.project portable across compatible environments

%section.principle
  %h1 2
  %h2 Tests should be
  %h3.project executable from both IDE and build tool

%section.principle
  %h1 3
  %h2 The platform should
  %h3.project reuse existing frameworks and tools

%section
  %blockquote.quote 
    The purpose of automated testing is to
    %br
    %strong enable change.
    %br
    Verifying correctness is just a nice side effect.
    .author - Jeremy Norris

%section
  %h2 
    The Testing 
    %span.project Gap

%section
  %h1.down.left Unit

  %img.background.right{:src=>"/images/zoo/unit-level.jpg"}

%section
  %h1.down.left Integration

  %img.background.right{:src=>"/images/zoo/integration-level.jpg"}

%section
  %h1
    .brand 
      Arquillian 
      %span.project Core
  %blockquote so <em>you</em> can rule the code, not the bugs!

%section
  %h2.down.right Flexible

  %img.flexible.background{:src=>"/images/zoo/flexible.jpg"}

%section
  %h2.down.left Extensible

  %img.extendable.background{:src=>"/images/zoo/extendable.jpg"}

%section
  %h2 
    %span.project Test
    Extension
  %h4 SPI for test runners

%section
  %h2 
    %span.project Test
    Runners
  %h4 JUnit &middot; TestNG &middot; Spock &middot; JBehave &middot; Thucydides

%section
  %h2 
    %span.project Container
    Extension
  %h4 SPI for runtime providers

%section
  %h2 
    %span.project Container
    Adapters
  %h4
    JBoss AS &middot; GlassFish &middot; Jetty &middot; Tomcat
    %br
    WebSphere &middot; WebLogic &middot; Spring &middot; Weld

%section
  %h2 
    %span.project Container Test
    Extension
  %h4 Binds the two &rArr; In container testing

%section
  %h1 
    The 
    %span.project basic 
    Test Class

%section
  .code
    .code_inner
      =partial("astrophysics/basic_junit_test_class.md")

      .overlay.incremental
        =partial("astrophysics/arq_basic_junit_test_class.md")

%section
  %h2
    .brand
      Demo

%section
  %h2
    .brand
      How does this all
      %span.project work?

%section
  %h1 Setup

  %h4 Maven, Gradle, Ant(+Ivy)

%section
  .code
    .code_inner
      =partial("astrophysics/arq_core_depmgm.md")

      .incremental
        =partial("astrophysics/arq_junit_dep.md")

%section
  .code
    .code_inner
      =partial("astrophysics/arq_basic_junit_test_class_full.md")

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/1_select_a_container.png'}

%section
  .code
    .code_inner
      =partial("astrophysics/setup_profiles.md")

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/2_start_container_single.png'}

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/3_package_test_archive.png'}

%section
  %h1
    .brand 
      ShrinkWrap
  %h4 Deployment + Resolver + Descriptors

%section
  .code
    .code_inner
      =partial("astrophysics/shrinkwrap.md")

%section
  .code
    .code_inner
      =partial("astrophysics/shrinkwrap_resolver.md")

%section
  .code
    .code_inner
      =partial("astrophysics/shrinkwrap_descriptors.md")

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/3_package_test_archive.png'}

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/4_run_test_in_container.png'}

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/5_test_result.png'}

%section
  .code
    .code_inner
      %img{:src=> '/images/lifecycle-steps/6_disconnect_container.png'}

%section
  %h1
    .brand 
      Arquillian
      %span.project Enrichers
  %blockquote getting a grip    

%section
  %h1
    .brand 
      Arquillian
      %span.project Extensions
  %blockquote ...and different interaction styles

%section.step
  .code
    .code_inner
      %img{:src=> '/images/incontainer_runmode.png'}

%section.persistence
  %h1
    .brand 
      Arquillian
      %span.project Persistence
  %blockquote don't let the bugs hide in the boilerplate

%section.step
  .code
    .code_inner
      %img{:src=> '/images/client_runmode.png'}

%section
  %h1
    .brand 
      Arquillian
      %span.project Drone
  %blockquote functional mayham

%section.step
  .code
    .code_inner
      %img{:src=> '/images/warp_runmode.png'}

%section
  %h1
    .brand 
      Arquillian
      %span.project Warp
  %blockquote bridging both worlds

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lego_car.jpg'}

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lego_mess.jpg'}

%section
  %h1
    .brand
      Requirements

%section.step
  .code
    .code_inner
      %img{:src=> '/images/lego_car.jpg'}

%section
  %h1
    .brand
      Spock

%section
  %h1
    .brand
      Thucydides (2 cd's)
    
%section
  %h2
    .brand
      Demo

%section
  %embed{:src=>"/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}
  %h3 +Arquillian
  %h3 http://arquillian.org
  %h3 https://github.com/arquillian

%section

  %h2 Credits

  %ul(style='margin-left: 0; line-height: 2em')
    %li http://www.flickr.com/photos/horiavarlan
    %li http://www.flickr.com/photos/heroiclife
    %li http://www.knowyourmobile.com/blog/1689315/samsung_confirms_flexibleoled_displays_for_galaxy_range_in_2013.html
