---
title: The Arquillian Universe
subtitle: 
location: F2F Miami 2013
layout: dzslides
---
- page.html_class = "aspect-4-6"
- page.stylesheets = ['/stylesheets/f2f.css']

%section
	%embed{:src=>"#{site.base_url}/images/astrophysics/arquillian_icon_256px.svg", :type=>"image/svg+xml"}
	%h1
		.brand 
			The
			%span.project Arquillian 
			Universe
	%blockquote.quote 
		You've got to know the rules before you can break 'em. Otherwise, it's no fun. 
		.author - Sonny Crockett, Miami Vice
	
%section.pitch
	%h2.project Arquillian
	%p 	
		is an 
		%b open 
		testing platform that enables developers to 
		%b easily create 
		automated integration, functional and acceptance 
		%b tests
		for the 
		%b Java Platform

%section.pitch
	%h2.project Arquillian
	%p
		%b enable 
		application developers to take on scenarios 
		%b previously 
		considered 
		%b untestable 
		or 
		%b too expensive 
		to test

%section 
	%h2 
		The
		%span.project 230 miles
		heigh overview
	%ul
		%li Manage the lifecycles
		%li Provide Test Services
		%li Component model for testing
	
%section.principle
	%h1 1
	%h2 Tests should be
	%h3.project portable to any supported container
%section.principle
	%h1 2
	%h2 Tests should be
	%h3.project executable from both IDE and build tool
%section.principle
	%h1 3
	%h2 The platform should
	%h3.project extend/integrate existing test frameworks

%section
	%h2 Us vs Them

%section
	%h3.single A platform and a library

%section
	%h3.single Support the whole spectrum
	%ul
		%li Embedded to Cloud
		%li Single module to full application
		%li Setup to runtime
		
%section
	%h3.single Extensible - support tomorrow, yesterday

%section 
	%h3.single Active

%section
	%h2 Pride

%section
	%h3 Duke's Choice Awards

	%div.center
		%img{:src =>"#{site.base_url}/images/dukes_choice_award_2011_team.jpg"}
%section
	%h3.single 120+ contributors

%section
	%h3.single Strong support from the Open Source community
	%ul
		%li 
			Apache rewriting all tests to 
			%span.project Arquillian

%section
	%h3.single De facto EE integration testing framework

%section
	%h2 2.0 and beyond

%section
	%h3 Technical
	%ul
		%li Provide core infrastructure
		%li Client modularity
		%li Improve Application development testing
		%li Support for Alternative JVM languages
		%li Cloud services?

%section
	%h3 Community
	%ul
		%li Engage support from other Vendors
		%li Expand usage within JCP
		%li Tests should be first class citizens

%section
	%h2 Week Meetings

	%ul
		%li 2.0 Core
		%li Richfaces
		%li Errai
		%li Mobile
		%li > Android / iOS
